<?xml version= "1.0" encoding="UTF-8"?>

<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

    <listener>
        <listener-class>com.revature.servlets.DependencyLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>requestServlet</servlet-name>
        <servlet-class>com.revature.servlets.RequestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>requestServlet</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>com.revature.servlets.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <!-- CORS FILTER -->
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.revature.servlets.CORSFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- /CORS FILTER -->

    <servlet-mapping>
        <servlet-name>authServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authServlet</servlet-name>
        <servlet-class>com.revature.servlets.authServlet</servlet-class>
    </servlet>


</web-app>