<?xml version= "1.0" encoding="UTF-8"?>

<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

    <listener>
        <listener-class>servlets.DependencyLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>servlets.RequestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlets.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DependencyLoaderListener</servlet-name>
        <servlet-class>servlets.DependencyLoaderListener</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DependencyLoaderListener</servlet-name>
        <url-pattern>/dpl</url-pattern>
    </servlet-mapping>
</web-app>